<html lang="de">
  <body>
    <p>Moin,</p>
    <p>
      vielen Dank, dass du bei der Security-Awareness-Umfrage mitmachst. Diese E-Mail enthält einen Link, mit dem du
      jederzeit zur Umfrage zurückkehren kannst. So kannst du die Umfrage bei Bedarf auch auf einem anderen
      Gerät durchführen. Diese E-Mail solltest du nicht weiterleiten, da sonst die weiterleitende Person Zugriff auf deine
      Umfragedaten erhält! Am Ende der Umfrage gibt es eine Zusammenfassung, in der du alle erfassten Daten noch einmal vor
      dem Hochladen ansehen kannst.

      <br><br>

      <a href="{{survey}}">Zu deiner personalisierten Umfrage</a>

    </p>
    <p>Liebe Grüße<br/>
      Jonas
    </p>
    <img src="https://{{bind}}/mail/tracker?token={{token}}" alt=""/>
  </body>
</html>
